body {
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	display:inline-block;
	overflow: auto;
}

show {
	border: 1px solid #1c2f3e;
	margin: 0 auto;
	display: block;
	font-size: 14px;
}

