* {
    margin: 0;
    padding: 0;
}

html,body {
    /*text-decoration: none;*/
    text-align: center;
    position: relative;
    list-style: none;
}

#main {
    /*position: absolute;*/
    width: 400px;
    height: 500px;
    border-radius: 25px;
    border: 1px solid #CCC;
    margin: 130px auto;
}

#inputa {
    width: 250px;
    height: 35px;
    font-size: 18px;
    margin: 10px auto;
}

#submitb,#resetb {
    width: 80px;
    height: 28px;
    font-size: 16px;
    background-color: #0072C6;
    color: #FFF;
    text-align: center;
    line-height: 28px;
    border: 0;
    /* margin: 6px auto; */
}

#values {
    width: 250px;
    height: 35px;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
    border: 0;
    border-bottom: #CCC solid 2px;
    margin: 15px auto 0 auto;
}